html
body{
    overflow-y: scroll;
}

body {
    font-family: 'Inter', sans-serif;
    background-color: #D9D9D9;
    background-image: url(../images/forrest.jpg);
    background-repeat: repeat;
    background-size: cover;
    /* height: 100%; */

}

/* html {
    height: 100%;
} */

.container {
    display: flex;
    flex-direction: column;
    align-items: self-start;
    padding: 50px;
    background-color: rgb(101,67,33);
    margin-bottom: 0%;
    height: auto;
    width: 15%;
    overflow: visible;
}

.title {
    background-image: url(../images/Banner.png);
    background-repeat: no-repeat;
    background-size: 100%;
    color: wheat;
    text-align: right;
    text-shadow: 9px 7px 6px black;
}



.input-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 400px;
    margin-bottom: 20px;

}

.input-container input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid white;
    border-radius: 5px;
}

.input-container input[type="date"] {
    width: 50%;
}

.search-button {
    width: 100%;
    padding: 10px;
    background-color: #030c15;
    color: white;
    font-size: 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.search-button:hover {
    background-color: #2D6482;
}

#weatherInfo {
    margin-top: 20px;
}

.forecast-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    max-width: 400px;
    margin-bottom: 20px;
    padding: 10px;
}

.forecast-day {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100px;
    background-color: #fff;
    padding: 20px;
}

.stateInput{
    margin-bottom: 15px;
    margin-top: 10px;
    padding: 11px;
    margin-top: 10px;
}


  #parkContainer {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: left;
    top: 1%; /* Adjust the top position as needed */
    left: 25%; /* Adjust the left position to center the container */
    right: 5%;
    max-width: 85%; /* Increase the width to make it wider */
    padding: 1px; /* Optional padding */
    border: 1px solid  rgb(86, 96, 105); /* Optional border */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Optional box shadow */
    background-color: rgb(148, 154, 158);
    border-radius: 5px;
    margin-bottom: 20px;
    background-image: linear-gradient(to right, rgba(3, 165, 3, 0), rgba(101,67,33,1));
    color: linear-gradient(to left, rgba(3, 165, 3, 0), rgba(101,67,33,1));
}

.summary-width {
    height: 30px;
    border: 1px solid black;
    
  }

  /* .park-name {
    background-image: linear-gradient(to right, green, brown);
  } */

  .park-name:hover {
    background-color: brown; 
    cursor: pointer;
    
  }

.weather-info {
    display: flex;
    flex-wrap: nowrap; /* Ensure it stays in a single row */
    overflow-x: auto; /* Add horizontal scroll if needed */
    overflow-y: auto; /* Add vertical scroll if needed */
    max-width: 300%; /* Adjust the max-width as needed */
    border: 1px solid  rgb(7, 7, 7); /* Optional border */
    margin: 10px;
    padding: 5px;
    /* background-image: linear-gradient(to right, green, brown); */
}

.weather-forecast {
    padding: 10px;
    border-color: 1px solid black;
}

@media only screen and (max-width: 1024px) {
    #parkContainer, .container{
        width: 70%;
        flex-wrap: wrap;
        position: relative;
        flex-direction: column;
        left: 5%;
        align-self: auto;
    }
}

@media only screen and (max-width: 875px) {
    #parkContainer, .weather-info {
        width: 80%;
        flex-wrap: wrap;
        position: relative;
        flex-direction: column;
        left: 7%;
    }
}